hr
{
 border-top: 1px dashed;
}

img
{
	border:0;
}

div, form
{
	padding:0;
	margin:0;
}

p
{
	padding:0;
	margin:1em 0;
}

a
{
	color:#666666;
}

body
{
	padding:0;
	margin:0;
	text-align:center;		
	background-position:left center;
	background-repeat:repeat-y;
	font-family:Verdana;
	font-size:0.75em;
}

.container
{		
	background-color:#FFFFFF;
	margin:0 auto;
	padding:0;
}

.container .content
{
	margin:0 10px;
	padding-top:10px;
	padding-bottom:20px;
	text-align:left;
}

.container .sub_container
{
	min-height : 300px;
	margin:0 10px;
	padding-top:10px;
	padding-bottom:20px;
	text-align:left;
}

.hide
{
	display: none;
}

.show
{
	display: inline-table;
}

.container .sub_container .content_right
{
	/*
	border-left : 4px solid #C6C5C5;
	border-bottom : 4px solid #C6C5C5; 
	*/
	
	width:85%;
}

.container .sub_container table .content_left
{
	
	/*border-right : solid #D0CFCF;*/
	/*width:15%;*/
	width:125px;
}

.footer
{
	color : #666666;
	text-align: center;
	height:25px;	
}

.ligneHeader
{
	background-image: url(img/RedBg.gif);
	background-repeat:repeat-x;
	height: 35px;
}

.ligneHeaderPan
{
	margin-top: 20px; 
	padding-top : 20px;	
	background-image: url(img/RedBg.gif);
	background-repeat:repeat-x;
	height: 10px;
}

.header .header_logo
{
	height:110px;
	background-image: url(img/logo.jpg);
	background-repeat:no-repeat; 
	
}
.header .header_right
{
	float: right;
}

.ligne
{
	
	color:#EEEFEF;
	border: solid;
}

.left
{
	text-align: left;
}
.right
{
	text-align: right;
}
.center
{
	text-align: center;
}

.trResult:hover
{
	background-color: #EAC3C3;
}

.thResult
{
	color : #666666;
	border-bottom: 1px solid #666666;
	border-top: 1px solid #666666;
}

div .box
{
	margin : 0 auto;
	background-color: #EEEFEF;
	width:700px;
	border-bottom: solid;
    border-bottom-width: 4px;
	border-bottom-color: #646464;
	border-top: solid;
    border-top-width: 4px;
	border-top-color: #646464;
}

input.field_highlight, textarea.field_highlight 
{
	border:1px solid #FF5555;
	background:#FFEEEE;
}

td.field_highlight label, div.field_highlight label, p.field_highlight
{
	color:#FF5555;
	font-weight:bold;
}

select.field_highlight
{
	background:#FFEEEE;
}

fieldset.field_highlight
{
	border-color:#FF5555;
}

fieldset.field_highlight legend
{
	background:#FF5555;
	border-color:#FF5555;
}

div.errors
{
	font-family:Arial;
	font-size:1em;
	padding:1em 0;
	background-color:#E60029;
	background-image:url(img/alert_icon.jpg);
	background-repeat:no-repeat;
	background-position:left center;
	margin-bottom: 10px;
	text-align : left;
}

div.errors ul
{
	margin:0;
	padding:0;
}

div.errors li
{
	margin:0;
	padding:2px 0;
	padding-left:100px;
	color:#FFFFFF;
	font-weight:bold;
	list-style:none;
}

div.notices
{
	font-family:Arial;
	font-size:1em;
	padding:1em 0;
	background-color:#E0FFEE;
	/*background-image:url(img/alert_icon.jpg);*/
	background-repeat:no-repeat;
	background-position:left center;
}

div.notices ul
{
	margin:0;
	padding:0;
}

div.notices li
{
	margin:0;
	padding:2px 0;
	padding-left:100px;
	color:#666666;
	font-weight:bold;
	list-style:none;
	text-align: left;
}

.loginBox input
{
	width:100%;
}
input.notauto 
{
	width:auto;
}
/*
input
{
	width:97%;
}
*/
select
{
	width:96%;
}
select.notauto 
{
	width:auto;
}



/*header main*/
/*body {
  margin: 0px;
  padding: 0px;
  font-size: 100%;
  font-family: tahoma,arial,helvetica,"bitstream vera sans",sans-serif;
  color: #000000;
  background-color: #ffffff;
}*/
.header {
  overflow: hidden;
  background-position: bottom;
  background-repeat: repeat-x;
}
.header ul {
  float: left;
  margin-top: 16px;
  margin-right: 16px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding: 0px;
  list-style: none;
}
.header ul li {
  float: left;
  margin-left: 3px;
}
.header ul li a {
  float: left;
  text-decoration: none;
  letter-spacing: 1px;
  padding-left: 10px;
  background-image: url(img/coin-gauche.png);
  background-position: 0% 0%;
  background-repeat: no-repeat;
}
.header ul li#actif {
  float: left;
  text-decoration: none;
  letter-spacing: 1px;
  padding-left: 10px;
  background-image: url(img/coin-gauche.png);
  background-position: 0% 0%;
  background-repeat: no-repeat;
}
.header ul li a span {
  float: left;
  padding-top: 6px;
  padding-right: 10px;
  padding-bottom: 3px;
  padding-left: 0px;
  background-image: url(img/coin-droit.png);
  background-position: 100% 0%;
  background-repeat: no-repeat;
  color: #737373;
}
.header ul li#actif span {
  float: left;
  padding-top: 6px;
  padding-right: 10px;
  padding-bottom: 3px;
  padding-left: 0px;
  background-image: url(img/coin-droit.png);
  background-position: 100% -250px;
  background-repeat: no-repeat;
  color: #737373;
}
.header ul li a:hover {
  background-position: 0% -250px;
  color: #FFFFFF;
}
.header ul li a:focus {
  background-position: 0% -250px;
  color: #FFFFFF;
}
.header ul li a:hover span {
  background-position: 100% -250px;
  color: #FFFFFF;
}
.header ul li a:focus span {
  background-position: 100% -250px;
  color: #FFFFFF;
}

.shortcut_head
{
	/*font-size: 16px;*/
	font-weight: bold;
	/*border-bottom: solid #FEBDC5 2px;*/
	/*border-bottom: solid #EAC3C3 1px;*/
	color : #666666;
}

.shortcut_head:hover
{
	cursor: pointer;
}

.shortcut_item
{
	/*font-size: 15px;*/
	/*border-right: solid #E1DFDF 1px;*/
	width:100%;
	padding-top:2px;
	padding-bottom:2px;
}

.shortcut_item:hover 
{
	background-color: #E52A2A;
	color: #FFFFFF;
	cursor: pointer;
}

.shortcut_item:hover a 
{
	color: #FFFFFF;
}

.title
{
	font-weight: bold;
	color : #666666;
}

.mainTitle
{
}

.login
{
	font-weight: bold;
	color : #666666;
}

.login a:link, .login a:visited
{
	text-decoration: none;
}

.login a:hover
{
	text-decoration: underline;
}

.expand
{
cursor: pointer;
}
#shortcut a {
	
	text-decoration: none;

}

/*
#shortcut table tr .shortcut_item:hover {
	background-color: #F0F0F0;
}
*/

.boxPan
{
	background-color:#F6F6F6;
	/*border-top-color: #EAC3C3;*/	
	/*border-top: 1px solid #EAC3C3;*/
	/*border-bottom: 1px solid #EAC3C3;*/
	padding-top: 10px;
	padding-bottom: 15px;	
}
.boxGen
{
	/* margin : 20px; */
}

.boxPan input, .boxPan select, .boxPan textarea
{
	font-size: 12px;
	background-color : #FFFFFF;	
	border: 1px solid #EAC3C3;
}

div.list
{
	background-color : #FFFFFF;	
	border: 1px solid #EAC3C3;
	overflow: auto;
}

.boxBtn
{
	padding-top : 10px;
	padding-bottom : 10px;
	
	/*margin-top: 10px;*/
}


.boxTitre
{
	font-size: 14px;
}

.buttonTable td
{
	width:125px;
	text-align:center;
	padding:2px;
	background-color:#F6F6F6;
	color:black;
	font-size:13.5px;
	text-decoration:none;
	border:1px solid #CC6666;
}

.buttonTable td.separator
{
	border:none;
	background:none;
	width:5px;	
}

.buttonTable td a:link, .buttonTable td a:visited  
{
	text-decoration: 	none;
}

.buttonTable td:hover 
{
	background-color:	#E52A2A;
	color:				#FFFFFF;
	cursor :			pointer;
}
.buttonTable td.separator:hover
{
	background-color:inherit;
}

.buttonTable td:hover a 
{
	color:				#FFFFFF;
}

a.button:link, a.button:visited, .button 
{
	background:			#F6F6F6;
	padding:			2px;
	margin:				2px;
	color:				black;
	font-size: 			13.5px;
	text-decoration: 	none;
	border:				1px solid #CC6666;
}

a.button:active 
{
	background:			#fafafa;
	border:				1px solid #777777;
	padding:			2px;
	margin:				2px;
	color:				black;
}

a.button:hover, .button:hover
{
	/*background-color:	#CC6666;*/
	background-color:	#E52A2A;
	border:				1px solid #777777;
	padding:			2px;
	margin:				2px;
	color:				#FFFFFF;
}

table.result
{
	/*border : 1px solid #EAC3C3;*/	
	border-collapse : collapse;
}

table.result .resultHover:hover
{
	background-color : #E52A2A;
	color : #FFFFFF;	
}

table.result td.resultHeader
{
	background-color : #EAC3C3;
	padding-top : 5px;
	padding-bottom : 5px;
	padding-left : 3px;
	font-weight: bold;
	color : #666666;
}

table.result td.resultLine
{
	padding-left : 3px;
	padding-top : 1px;
	padding-bottom : 1px;
}

table.result tr.trResult td
{
	padding-left : 3px;
	padding-top : 1px;
	padding-bottom : 1px;
	vertical-align : top;
}

table.result td.resultLineRedirection
{
	color : #666666;	
	cursor: pointer;
}

span.resultLineRedirection 
{
	color : #666666;	
	cursor: pointer;
}

a.resultLineRedirection 
{
	text-decoration : none;	
}

span.resultLineRedirection:hover 
{
	color : blue;
	text-decoration : underline;
	cursor: pointer;
}

a.resultLineRedirection:hover 
{
	color : blue;
	text-decoration : underline;
	cursor: pointer;
}

table.result td.resultLineRedirection:hover
{
	color : blue;
	text-decoration : underline;	
	cursor: pointer;
}

table.record td.detail
{
	height : 25px;
	background-color : white;
	color : black;
	padding-left : 5px;
}

table.record td.detailEdit
{
	height : 25px;
	color : black;
	padding-left : 5px;
}

table.record td.label
{
	width : 200px;
	height : 25px;
	text-align : right;
	padding-right : 5px;
	color : gray;
	font-weight: bold;
}

table.record td.separator
{
	height : 2px;
	font-size : 2px;
}

html, body
{
	margin:0;
	padding:0;
	/*height:100%;*/
}

.popup { display: none; }

.popupPanel
{
	background-color: #fff;
	/* border: 1px solid #CC6666; */
	border: 1px solid #000;
}

.popupPanelHeader
{
	/* border-bottom: 1px solid #CC6666; */
	border-bottom: 1px solid #000;
	padding: 5px;
	background-color: #eac3c3;
	color: #fff;
	font-weight: bold;
}

input[type=checkbox]
{
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	width: 15px;
	height: 15px;
}

input[type=radio]
{
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	width: 15px;
	height: 15px;
}


.resultDetailHeader
{
	border-left:1px solid #EAC3C3;
	border-top:1px solid #EAC3C3;
	border-right:1px solid #EAC3C3;
	padding:5px;
}

.resultDetailPanel
{
	border:1px solid #EAC3C3;
	padding:5px;
	background-color:white;
}
.table tfoot tr {
	background-color: #EAC3C3;
	color: #666666;
	font-weight: bold;
	padding-bottom: 5px;
	padding-left: 3px;
	padding-top: 5px;
}
/*
 * NOTIFICATIONS
 */

.notification {
	display: none;
	padding: 5px 15px;
	background-color: #FFFFFF;
	border: 1px solid black;
	position: fixed;
	z-index: 9999;
}

.notification.hovered {
	cursor: pointer;
}

.notification.success {
	background-color: #CAED9E;
	border-color: #90D93F;
	color: #3F6219;
}

.notification.error, div.errorAjax {
	background-color: #F78B83;
	border-color: #D95252;
	color: #912323;
}
